@page "/Product/{id:int}"
@inject HttpClient Http


<!--Section: Block Content-->
<section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                                         class="img-fluid">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">

            <h5>@product.name</h5>
            
                <p class="mb-2 text-muted text-uppercase small">Category Name</p>
            
            <p><span class="mr-1"><strong>@product.price $</strong></span></p>
            <p class="pt-1">
                @product.description
            </p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Contact Number</strong></th>
                            <td>@product.shop.vendor.contact</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Shop Address</strong></th>
                            <td>@product.shop.details</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
    </div>

</section>
<!--Section: Block Content-->

@code {
    [Parameter]
    public int id { get; set; }

    public Product product = new Product();
    public Category category = new Category();

    protected override async Task OnInitializedAsync()
    {
        product = await Http.GetFromJsonAsync<Product>($"api/Product/{id}");
        //category = await Http.GetFromJsonAsync<Category>($"api/Category/{id}");

    }



}